POSTGRES_HOST=postgres
POSTGRES_PORT=5432
STG_DB_NAME=sistema_obras_stg
STG_DB_USER=obras_stg
PROD_DB_NAME=sistema_obras_prod
PROD_DB_USER=obras_prod
AWS_REGION=us-east-2
BACKUP_S3_BUCKET=dimensiones-obras-backups
AWS_ACCESS_KEY_ID=reemplace-access-key-backups
AWS_SECRET_ACCESS_KEY=reemplace-secret-key-backups
