POSTGRES_USER=obras_admin
POSTGRES_PASSWORD=reemplace-password-administrador
STG_DB_NAME=sistema_obras_stg
STG_DB_USER=obras_stg
STG_DB_PASSWORD=reemplace-password-stg
PROD_DB_NAME=sistema_obras_prod
PROD_DB_USER=obras_prod
PROD_DB_PASSWORD=reemplace-password-prod
STG_DOMAIN=stg.dimensiones.cloud
PROD_DOMAIN=dimensiones.cloud
